.homeclass {
  display: grid;
  gap: 0px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: lightgray;
  background-image: url("./media/dronebackground.jpg");
  background-size: cover; /* Ensures the image covers the whole element */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents repeating */
  height: 800px; /* Ensures it fills the grid space */
  width: 100%;
  /* border: 5px solid white; */
}
.outerclass{
  margin: 0;
  padding: 0;
  height: fit-content;
background-color: transparent;}
.b1 {
  grid-column: auto;
  grid-row: auto;
}

.b2 {
  grid-column: 1/-1;
  grid-row: 2/3;

}
.products{
  grid-column: 1/-1;
  grid-row: 3/4;
  background-color: blue;
  width: 100%;
  overflow-x: hidden;
}

.Usesclass{
  grid-row:4/5 ;
  overflow-x: hidden;
}

Review{
  grid-row: 5/6;
}
